* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('computercoding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    border: 2px solid transparent;
    transition: transform 0.5s ease-in-out;
    width: 20%;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* box-shadow: 5px 5px 5px none; */
}

.menu a:hover {
    transform: scale(1.1);
    /* transform: translateZ(0); */
    /* box-shadow: 5px 5px 5px white; */
    border: 2px solid white;
}

.introduction {
    margin: 20px;
}

h1 {
    padding: 10px 10px 5px 10px;
}

p, h3 {
    padding: 0px 0px 0px 10px;
}

/* Style contact information page */
#contact {
    margin: 10px;
}

#contact h3 {
    padding: 0px;
}

/* #email p {
    font-size: ;
} */

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 300px;
}

#email, #linkedin, #github {
    margin: 0px 0px 30px 10px;
}