* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('computercoding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    border: 2px solid transparent;
    transition: transform 0.5s ease-in-out;
    width: 20%;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* box-shadow: 5px 5px 5px none; */
}

.menu a:hover {
    transform: scale(1.1);
    /* transform: translateZ(0); */
    /* box-shadow: 5px 5px 5px white; */
    border: 2px solid white;
}

.introduction {
    margin: 20px;
}

h1 {
    padding: 10px 10px 5px 10px;
}

p, h3 {
    padding: 0px 0px 0px 10px;
}

/* Style contact information page */

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: inline-block;
    width: 300px;
    /* height: 200px; */
}

#email {
    background-color: #3b82f4;
}

#email h1 {
    bottom: 80px;
    left: 80px;
}

#linkedin {
    background-color: #009687;
}

#linkedin h1 {
    bottom: 100px;
    left: 80px;
}

#github {
    background-color: #f7f7f7;
}

#github h1 {
    bottom: 130px;
    left: 85px;
}

#contact h1 {
    display: inline-block;
}

#contact h1 {  
    font-size: 30px;
    position: relative;
}